<div class="row pt-5">
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-a">
            1
          </button>
          <p>Set Location</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-a">
            2
          </button>
          <p>Meal Selection</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-n">
            3
          </button>
          <p>Delivery Details</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-d">
            4
          </button>
          <p>Payment</p>
        </div>
      </div>
    </div>
    <h4 class="pt-4 pb-2" style="color: #ec9940"><b>Contact Information</b></h4>
    <div class="row py-3">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <input type="text" class="form-control" placeholder="Enter your Email." />
      </div>
    </div>
    <div class="custom-checkbox py-3">
      <input type="checkbox" id="test1" checked="checked" />
      <label for="test1">Keep me up to date on news and exclusive offers</label>
    </div>
    <h4 class="pt-5 pb-2" style="color: #ec9940"><b>Delivery Details</b></h4>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <input type="text" class="form-control" placeholder="First Name" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <input type="text" class="form-control" placeholder="Last Name" />
      </div>
    </div>
    <div class="row py-2">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Address" />
      </div>
    </div>
    <div class="row py-2">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="Apartment, suite etc. (Optional)" />
      </div>
    </div>
    <div class="row py-2">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <input type="text" class="form-control" placeholder="City / Suburb" />
      </div>
    </div>
    <div class="row py-2">
      <div class="col-md-4 col-sm-4 col-md-4">
        <input type="text" class="form-control" placeholder="Country" />
      </div>
      <div class="col-md-4 col-sm-4 col-md-4">
        <input type="text" class="form-control" placeholder="State" />
      </div>
      <div class="col-md-4 col-sm-4 col-md-4">
        <input type="text" class="form-control" placeholder="Postcode" />
      </div>
    </div>
    <div class="row py-2">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <textarea class="form-control" placeholder="Delivery Instructions (Optional)"></textarea>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <input type="text" class="form-control" placeholder="Phone (Optional)" />
      </div>
    </div>
    <div class="custom-checkbox py-3">
      <input type="checkbox" id="test1" checked="checked" />
      <label for="test1">Same as billng address</label>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
          <label>Where did you hear about us?</label>
          <select class="form-control">
            <option>Select one of the below</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <input type="submit" class="btn btn-page-3-submit form-control" value="Continue" />
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="card custom-card">
      <div class="card-body">
        <div class="row py-3">
          <div class="col-lg-12 col-sm-12 col-md-12">
            <h3>Order Summary</h3>
          </div>
        </div>
        <div class="row pt-3 pb-1">
          <div class="col-lg-12 col-sm-12 col-md-12">
            <p><b>6/7 meals selected</b></p>
            <div class="progress" style="height:5px">
              <div class="progress-bar" style="width:60%;height:5px;background-color: #0fa3b1 !important;"></div>
            </div>
            <p class="py-4" style="color: #ec9940"><b>Delivery Day: 1</b> <span style="color: grey;"> (14 Oct - 15
                Oct)</span> </p>
            <div class="row">
              <div class="col-lg-9 col-sm-9 col-md-9">
                <p><b>Selected Meals</b></p>
                <div class="row py-1">
                  <div class="col-lg-12 col-sm-12 col-md-12">
                    <uL class="reciept-list">
                      <li><i class="fa fa-chevron-right caret-reciept"></i><b>Over Roasted Chiken Breast</b><br>with
                        Satay Sauce
                        <ul class="nested-reciept-list">
                          <li>Brown Rice & Seasonal Mix Veg</li>
                          <li>Green Beans & Peas,Corn Capsicum</li>
                        </ul>
                      </li>
                    </uL>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-3 col-md-3">
                <p><b>Qty</b></p>
                <div class="row">
                  <div class="col-lg-12 col-sm-12 col-md-12">
                    <p><b>2</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-lg-9 col-sm-9 col-md-9">
                <div class="row">
                  <div class="col-lg-12 col-sm-12 col-md-12">
                    <uL class="reciept-list">
                      <li><i class="fa fa-chevron-right caret-reciept"></i><b>Over Roasted Chiken Breast</b><br>with
                        Satay Sauce
                        <ul class="nested-reciept-list">
                          <li>Brown Rice & Seasonal Mix Veg</li>
                          <li>Green Beans & Peas,Corn Capsicum</li>
                        </ul>
                      </li>
                    </uL>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="row">
                  <div class="col-lg-12 col-sm-12 col-md-12">
                    <p><b>3</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-lg-9 col-sm-9 col-md-9">
                <div class="row">
                  <div class="col-lg-12 col-sm-12 col-md-12">
                    <uL class="reciept-list">
                      <li><i class="fa fa-chevron-right caret-reciept"></i><b>Over Roasted Chiken Breast</b><br>with
                        Satay Sauce
                        <ul class="nested-reciept-list">
                          <li>Brown Rice & Seasonal Mix Veg</li>
                          <li>Green Beans & Peas,Corn Capsicum</li>
                        </ul>
                      </li>
                    </uL>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="row">
                  <div class="col-lg-12 col-sm-12 col-md-12">
                    <p><b>1</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <a class="change-sel" href="#"><i class="fa fa-pencil change-sel-pencil"></i> Change Selection</a>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="dropdown-divider"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-md-6">
                <p>*Added extras</p>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6">
                <p class="text-right">$11.85</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-md-6">
                <p><b>Total</b></p>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6">
                <p class="text-right"><b>$90.70</b></p>
              </div>
            </div>
            <div class="row py-2">
              <div class="col-lg-12 col-sm-12 col-md-12">
                <a href="#" class="change-sel" href="#">Add Coupon</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-4">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <p class="info-text-custom">In most locations delivery will be on Sunday for Day 1.<br>When you select the
          delivery location on checkout exact<br>deatils will be provided</p>
        <p class="info-text-custom"><strong>* Added extras</strong></p>
        <div class="row pt-2">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="info-text-custom"><strong>Barramundi</strong><br>+$2.95 per meal</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="info-text-custom"><strong>Salmon</strong><br>+$3.95 per meal</p>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="info-text-custom"><strong>Grass Fed Lump</strong><br>+$1.95 per meal</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <p class="info-text-custom"><strong>Lamb</strong><br>+$3.95 per meal</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>