.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

/*new header*/

body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.closebtn {
  float: left;
  margin-top: -25px !important;
  margin-right: 200px;
  width: 30px;
  height: 30px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: none;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  .btn:hover {
   
    right: 0;
    background-color: rgb(16, 179, 243);
    
  }
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

/*@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}*/

@media(min-width:700px){
    .hide{
      display: none;
      }
      
  }

  .buttonc {
      
    width: 90%;
    
    background-color: #FFFFFF;
    color:black;
    text-transform: uppercase;
    
    border-radius: 0px 3px 3px 0px;
    text-align: left;
    cursor: pointer;
    transition: all 0.25s ease-out;
    border: 1px solid #FFFFFF;
    padding: 10px 16px;
    font-size: 20px;

    
  }
  .text2{
    margin-bottom: 15px;
    /* font-weight: bold; */
    font-size: 10px;    
    letter-spacing: 1px;
    
    
  }


@media(min-width:700px) {
  .hide {
    display: none;
  }
  .nav_desktop {
    display: flex;
  }
  .end_divider {
    border-right: 1px solid #0FA3B1;
    height: fit-content;
  }
}

@media(max-width:700px) {
  .hide {
    display: block;
  }
  .nav_desktop {
    display: none;
  }
}
