<nav class="navbar navbar-expand-sm navbar-light bg-light nav_desktop">
  <a class="navbar-brand py-2" href="#"><img style="width:75px; height:75px" src="../../../assets/images/logo.png"/></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link text-capitalize" href="#">Menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize" href="#">Our Plans</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize" href="#">Macros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize" href="#">How we operate</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize" href="#">Stockists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize" href="#">Contact</a>
    </li>
    <li class="nav-item end_divider pr-3">
      <a class="nav-link text-capitalize" href="#">Login</a>
    </li>
    <li class="nav-item pl-3">
      <a class="nav-link" href="#"><img src="../../../assets/images/cart-icon.svg"/>
      (0)</a>
    </li>
  </ul>
</nav>

<div class="hide">

    <button id="main" class="openbtn"  (click)="openNav()">☰ Menu</button>  
<div id="mySidebar" class="sidebar">
  
  <a><img   src="../../../assets/images/cross.svg"  class="closebtn" (click)="closeNav()"></a>
  <hr>
  <a href="#">About</a>
  <hr>
  <a href="#">Services</a>
  <hr>
  <a href="#">Clients</a>
  <hr>
  <a href="#">Contact</a>
  <hr>
</div>

 


   
</div>

