<div class="row pt-5">
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-a">
            1
          </button>
          <p>Select a plan</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-a">
            2
          </button>
          <p>Set Location</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-a">
            3
          </button>
          <p>Meal Selection</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-a">
            4
          </button>
          <p>Delivery Details</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-n">
            5
          </button>
          <p>Payment</p>
        </div>
      </div>
    </div>
    <h4 class="pt-4 pb-2" style="color: #ec9940"><b>Payment</b></h4>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <p>Start working here for further process...</p>
      </div>
    </div>
  </div>
</div>