<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <img class="our-plan-banner" src="../../../../assets/images/ourplan-banner2.png">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <h1 class="text-center pt-5 pb-2" style="color: #ec9940;">Custom Meal Builder</h1>
      <h5 class="text-center">Please select from the dropdowns below to build your custom meal.<br> Protein is required,all the sides are optional.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>