<body>

    <div class=" container">
      <h2>Large Modal</h2>
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>
    
      <!-- Modal -->
      <div class=" pd">
      <div class="modal fade"  id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="row">
              <div class="col-md-1"></div>
            <div style="margin-top: 20px" class="col-md-3">
              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
              <h4 class="modal-title addside">Add a side</h4>
            </div>
          </div>
         
            <div class="row">
            <div class="col-md-1"></div>
            
            <div class="col-md-8 modal-body">
              <p>Select the quantity of this meal that you would like and choose a side.</p>
            </div>
          </div>
          <div class="row">
              <div class="col-md-1"></div>
              
              <div class="col-md-8 modal-body">
                <h5>Brown Rice & Seasonal Mix Veg</h5>
              </div>
            </div>
            <div  style="margin-top: -30px" class="row">
                <div class="col-md-1"></div>
                
                <div class="col-md-9 modal-body">
                 <label class="p">Protein:</label><label class="fl">34.6 g </label> &nbsp; <label class="e"> | </label>&nbsp; <label class="f">Fat:</label><label  class="fl">6.7 g </label> &nbsp; <label class="e"> | </label>&nbsp; <label class="c">Carbs:</label>
                 <label  class="fl">26.3 g </label> &nbsp; <label class="e"> | </label>&nbsp; <label class="s">Sodium:</label><label  class="fl">12.7 g</label>&nbsp;  <label class="e"> | </label>&nbsp; <label class="e">Energy:</label> <label  class="fl">312.7 cal</label>
                </div>
                <div class="col-md-2 col-sm-4">
                  <b> <input class="btn1" value="0" min="0" type="number"></b> 
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-1"></div>
                  
                  <div class="col-md-8 modal-body">
                    <h5>Green Beans & Peas,Corn Capsicum</h5>
                  </div>
                </div>
                <div style="margin-top: -30px" class="row">
                    <div class="col-md-1"></div>
                    
                    <div class="col-md-9 modal-body">
                     <label class="p">Protein:</label><label class="fl">32.1 g </label> &nbsp; <label class="e"> | </label>&nbsp; <label class="f">Fat:</label><label  class="fl">6.2 g </label> &nbsp; <label class="e"> | </label>&nbsp; <label class="c">Carbs:</label>
                     <label  class="fl">28.3 g </label> &nbsp; <label class="e"> | </label>&nbsp; <label class="s">Sodium:</label><label  class="fl">14.2 g</label>&nbsp;  <label class="e"> | </label>&nbsp; <label class="e">Energy:</label> <label  class="fl">442.7 cal</label>
                    </div>
                    <div class="col-md-2">
                        <b> <input value="0" class="btn1" min="0" type="number"></b> 
                    </div>
                  </div>


                  <div class="row ">
                      <div class="col-md-1"></div>
                      
                      <div class="col-md-8 modal-body">
                        <h5>Basmati Rice & Seasonal Mix Veg</h5>
                      </div>
                    </div>
                    <div style="margin-top: -30px" class="row">
                        <div class="col-md-1"></div>
                        
                        <div class="col-md-9 modal-body">
                         <label class="p">Protein:</label><label class="fl">33.5 g </label> &nbsp; <label class="e"> | </label>&nbsp; <label class="f">Fat:</label><label  class="fl">3.7 g </label> &nbsp; <label class="e"> | </label>&nbsp; <label class="c">Carbs:</label>
                         <label  class="fl">22.3 g </label> &nbsp; <label class="e"> | </label>&nbsp; <label class="s">Sodium:</label><label  class="fl">12.7 g</label>&nbsp;  <label class="e"> | </label>&nbsp; <label class="e">Energy:</label> <label  class="fl">352.7 cal</label>
                        </div>
                        <div class="col-md-2">
                            <b> <input value="0"  class="btn1"  min="0" type="number"></b> 
                          </div>
                      </div>



            <div class="modal-footer">
              <button type="button"  class="add btn btn-info" data-dismiss="modal">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    </body>