

<footer id="fh5co-footer" class="fh5co-bg row-fluid" role="contentinfo">

  
    <div class="container-fluid">
      <div class="row row-pb-md">
      
          <div  class="col-10 ">

              <img style="width:100px; height:100px" src="../../../assets/logo.png">
            </div>
    

          <div class=" col-10 about  listt">
            <ul  class="fh5co-footer-links">
              <li>
                <h3>ABOUT</h3>
              </li>

              <li class="text2"><a href="#">How We Operate</a></li>
              <br>
              <li class="text2"><a href="#">Stockists</a></li>

            </ul>
          </div>

          <div class="col-10 ">
            <ul class="fh5co-footer-links">
              <li>
                <h3>MEALS</h3>
              </li>

              <li class="text2"><a href="#">Signature Meals</a></li>
              <br>
              <li class="text2"><a href="#">Custom Meal Builder</a></li>
              <br>
              <li class="text2"><a href="#">Healthy Snacks & Treats</a></li>

            </ul>
          </div>

          <div class="col-25 " style="padding-block-start: 0%">
            <ul class="fh5co-footer-links">
              <li>
                <h3>CUSTOMER SERVICE</h3>
              </li>

              <li class="text2"><a href="#">Contact Us</a></li>
              <br>
              <li class="text2"><a href="#">My Account</a></li>
              <br>
              <li class="text2"><a href="#">Sponsorship</a></li>
              <br>
              <li class="text2"><a href="#">Become a Wholesaler</a></li>
            </ul>
          </div>

          <div  class="col-25 text22 buttont">

            
              <h3>News &amp; Deals</h3>
              <input  class="form-control text12" placeholder="Enter your email"
                type="text">

              <button style="float: left;" class="button12">Sign up</button>


          




          </div>



       
        
      </div>
    </div>

      <div class="row row-pb-md">
    

        <div class="col-1 "></div>
        <div style="margin-top: 40px; margin-left: 70px" class="col-25 ">
          <p>
            <small >&copy; 2018 Food for Fitness. <label>.Privacy</label><label>.Terms</label>
            </small>
          
              <img style="width:30 px; height: 30px;" src="../../../assets/fb.png">

              <img style="width:30 px; height: 30px;" src="../../../assets/instagramIcon.png">
          </p>
        </div>
      

    </div>
</footer>

 
  <footer id="fh5co-footer" class="fh5co-bg row-fluid1 " role="contentinfo">
   
      <div class="container-fluid">
        <div class="row row-pb-md">
        
          
            <div   class="col-md-2">
              <button data-toggle="collapse" data-target="#demo3" type="button" class="buttonc" >ABOUT</button>
              <img data-toggle="collapse" data-target="#demo3" style="width:15 px; height: 15px;" src="../../../assets/plus.svg">
            <div id="demo3" class="collapse col-lg-2 listt">
              <ul class="fh5co-footer-links">
                
  
                <li class="text2"><a href="#">How We Operate</a></li>
                <br>
                <li class="text2"><a href="#">Stockists</a></li>
  
              </ul>
            </div>
          </div>
           <div class="col-md-3">
            <button type="button" class="buttonc" data-toggle="collapse" data-target="#demo2">MEALS</button>
            <img data-toggle="collapse" data-target="#demo2" style="width:15 px; height: 15px;" src="../../../assets/plus.svg">
            <div id="demo2" class="col-md-3 collapse ">
              <ul class="fh5co-footer-links">
               
  
                <li class="text2"><a href="#">Signature Meals</a></li>
                <br>
                <li class="text2"><a href="#">Custom Meal Builder</a></li>
                <br>
                <li class="text2"><a href="#">Healthy Snacks & Treats</a></li>
  
              </ul>
            </div>
          </div>
          
            <div class="col-md-2 ">
            <button type="button" class="buttonc" data-toggle="collapse" data-target="#demo1">CUSTOMER SERVICE</button>
            <img data-toggle="collapse" data-target="#demo1" style="width:15 px; height: 15px;"  src="../../../assets/plus.svg">
            <div id="demo1" class="col-md-3 collapse " >
  
              <ul class="fh5co-footer-links">
                
  
                <li class="text2"><a href="#">Contact Us</a></li>
                <br>
                <li class="text2"><a href="#">My Account</a></li>
                <br>
                <li class="text2"><a href="#">Sponsorship</a></li>
                <br>
                <li class="text2"><a href="#">Become a Wholesaler</a></li>
              </ul>
            </div>
          </div>
  
          <br>
            <div style="margin-left: 11px" class="col-md-4 text22 buttont">
  
              
                <h3 >News &amp; Deals</h3>
                <input  class="form-control text11" placeholder="Enter your email"
                  type="text">
  
                <button style="float: left;" class="button11">Sign up</button>

            </div>
  
  
  
         
          
        </div>
      </div>
  
        <div class="row copyright">
            <div style="margin-top: 40px " class="col-md-2 col-lg-1 text-center">
  
                <img style="width:100px; height:100px" src="../../../assets/logo.png">
              </div>
      
  

          <div  style="margin-top: 10px" class="col-md-4  text-center">
            <p>
              <small >&copy; 2018 Food for Fitness. <label>.Privacy</label><label>.Terms</label>
              </small>
            
                <img style="width:30 px; height: 30px;" src="../../../assets/fb.png">
  
                <img style="width:30 px; height: 30px;" src="../../../assets/instagramIcon.png">
            </p>
          </div>
        
  
      </div>
  </footer>

<!--   
<div class="container">
  <h2>Accordion Example</h2>
  <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
  </div> 
</div>
     -->


     