<div class="content-main"></div>

<footer id="fh5co-footer" class="fh5co-bg" role="contentinfo">
		<div class="overlay"></div>
		<div class="container">
			<div class="row row-pb-md">
        <div style="margin-top: 40px" class="col-md-2 ">
          
					<img  style="width:100px; height:100px" src="../../../assets/logo.png">
        </div>
        
				<div class="col-md-10">
					
					<div class="col-md-2 ">
						<ul class="fh5co-footer-links">
              <li><h3>ABOUT</h3></li>
              
              <li class="text2"><a href="#">How We Operate</a></li>
              <br>
							<li class="text2"><a href="#">Stockists</a></li>
					
						</ul>
					</div>

					<div class="col-md-3 ">
						<ul class="fh5co-footer-links">
                <li><h3>MEALS</h3></li>
               
              <li class="text2"><a href="#">Signature Meals</a></li>
              <br>
              <li class="text2"><a href="#">Custom Meal Builder</a></li>
              <br>
							<li class="text2"><a href="#">Healthy Snacks & Treats</a></li>
						
						</ul>
					</div>
          
					<div class="col-md-3 ">
						<ul class="fh5co-footer-links">
                <li><h3>CUSTOMER SERVICE</h3></li>
               
              <li class="text2"><a href="#">Contact Us</a></li>
              <br>
              <li class="text2"><a href="#">My Account</a></li>
              <br>
              <li class="text2"><a href="#">Sponsorship</a></li>
              <br>
							<li class="text2"><a href="#">Become a Wholesaler</a></li>
						</ul>
          </div>
          
          <div class="col-md-4 text22">

              <div  >
                  <h3 >News &amp; Deals</h3>
                  <input  style="display: inline-block" class="form-control text11" placeholder="Enter your email" type="text">
           
                <button style="float: right;" class="button11">Sign up</button>
            
                
              </div>
              
              
                
    
            </div>
           
           
        
        </div>
      
			</div>
      <br>
      <br>

			<div class="row copyright">
        <div  class="col-md-2">

        </div>
				<div style="margin-top: 10px" class="col-md-4 text-center">
					<p>
						<small  style="margin-top: 8px; float: left;" >&copy; 2018 Food for Fitness. <label>.Privacy</label><label>.Terms</label> </small> 
            
            <img style="width:30 px; height: 30px;" src="../../../assets/fb.png">
          
            <img style="width:30 px; height: 30px;" src="../../../assets/instagramIcon.png">
					</p>
				</div>
			</div>

		</div>
	</footer>