<div class="row pt-5">
  <div class="col-lg-8 col-md-8">
    <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-a">
            1
          </button>
          <p>Select a plan</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-n">
            2
          </button>
          <p>Set Location</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-d">
            3
          </button>
          <p>Meal Selection</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-d">
            4
          </button>
          <p>Delivery Details</p>
        </div>
        <div class="stepwizard-step">
          <button type="button" class="btn btn-circle btn-circle-d">
            5
          </button>
          <p>Payment</p>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3 style="color: #ec9940;">Enter your delivery post code and email to continue</h3>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="row pt-3">
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <input maxlength="100" type="text" required="required" class="form-control"
                    placeholder="&#xf041; Your postcode*" style="font-family:Arial, FontAwesome" />
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <input maxlength="100" type="text" required="required" class="form-control"
                    placeholder="Enter your email*" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <input type="submit" class="form-control btn btn-page-1-submit" value="Next" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="card selected-item-row mb-4">
      <img src="../../../../../assets/images/ourplan-img2.png" style="width: 100%; height: 100%" />
      <div class="row pt-3 pb-1">
        <div class="col-lg-6">
          <p class="text-center"><b>100g</b> protein</p>
        </div>
        <div class="col-lg-6">
          <p class="text-center"><b>100g</b> sides</p>
        </div>
      </div>
      <div class="card bg-white">
        <div class="row pt-3 row-bottom-info">
          <div class="col-lg-12 col-md-12">
            <p class="text-center"><mark class="dark-highlight text-uppercase px-2">weightloss</mark></p>
            <p class="text-center"><b>200g serving</b></p>
            <p class="text-center">These meals are light, small sized meals <br /> primarily designed around weightloss
              <br />and
              maintenance.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="change-sel" href="#"><i class="fa fa-pencil change-sel-pencil"></i> Change Selection</a>
  </div>
</div>